html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* Navigation Section */
.top-navigation {
    background-color: #fff;
}
.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;

}
body{
  margin:0px;
}

.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 600;
}
img{
  float:left;
}

.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

/*middle section */
.introduction {
  background-image: url('../images/SeaWhipCoral.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45.938rem;
  overflow: auto;
}
.introduction .buttons {
  color: white;
  text-align: center;
  margin-top: 1.563rem;
}
.content {
  padding: 0 0.938rem;
  width: 970px;
    height: 70px;
    margin: 0 auto;
  min-width: 37.5rem;
}


.introduction h3 {
  text-align:center;
  margin-top: 1.25rem;
  font-size: 1.563rem;
}
.introduction h1 {
  text-align:center;
  margin-top: 17.5rem;
  font-size: 3.125rem;
}
button {
  background-color: #f15a29;
  border-color: #f15a29;
  text-shadow: none;
  border-style: none;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  cursor: pointer;
  margin: 0em;
  font-family: Arial;
  font-size: 1.125rem;
  color: white;
  display: inline-block;
  text-align: start;
}
button:hover {
  background-color: #d9400e;
  border-color: #cf3d0e;
  cursor: pointer;
}
